{% extends 'templates/app.twig' %}
{% block description %}Change avatar{% endblock %}
{% block content %}
    <div class="panel panel-default" style="width:40%;margin-top:3%;position:relative;margin-left:auto;margin-right:auto;">
        <div class="panel-heading">Change Password</div>
        <div class="panel-body">
            <form action="{{ path_for('password') }}" method="POST" autocomplete="off">
                <div class="form-group {{ errors.current ? 'has-error' : '' }}">
                    <label for="current">Current password:</label>
                    <input class="form-control" style="width:50%" type="password" name="current" id="current" placeholder="Enter your current password">
                    {% if errors.current %}
                        <span class="help-block">{{ errors.current | first }}</span>
                    {% endif %}
                </div>

                <div class="form-group {{ errors.new ? 'has-error' : '' }}">
                    <label for="new">New password:</label>
                    <input class="form-control" style="width:50%" type="password" name="new" id="new" placeholder="Enter your new password">
                    {% if errors.new %}
                        <span class="help-block">{{ errors.new | first }}</span>
                    {% endif %}
                </div>

                <div class="form-group {{ errors.confirm ? 'has-error' : '' }}">
                    <label for="confirm">Confirm password:</label>
                    <input class="form-control" style="width:50%" type="password" name="confirm" id="confirm" placeholder="Confirm your new password">
                    {% if errors.confirm %}
                        <span class="help-block">{{ errors.confirm | first }}</span>
                    {% endif %}
                </div>

                <input type="submit" class="btn btn-primary" value="Change">
                {{ csrf_field() | raw }}

            </form>
            {% if success %}
                <br/>
                <div class="alert alert-success">You have changed your password!</div>
            {% endif %}

            {% if cErrors is not empty %}
                <br/>
                <div class="alert alert-danger">{{ cErrors | first }}</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $("li#ucp").addClass("active");
</script>
{% endblock %}
